---
to: src/<%= name %>/components/<%= name %>/<%= name %>.tsx
---
import React, { FC } from 'react';

interface I<%= name %>Props {}

const <%= name %>: FC<I<%= name %>Props> = ({ children }) => {
    return (
        <div>{ children }</div>
    );
};

export default <%= name %>;
