---
to: src/components/<%= name %>/<%= name %>.tsx
---
import React, { FC } from 'react';
import { I<%= name %>Props } from './<%= name %>.types';
import './<%= name %>.scss'

const <%= name %>: FC<I<%= name %>Props> = ({ children }) => {
    return (
        <div>{ children }</div>
    );
};

export default <%= name %>;
